<!-- CSS table styling  -->
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<!-- page heading -->
<h1>Countries</h1>

<!-- navigate to addCountry page -->
<button onclick="window.location.href='/addCountry'">Add Country</button><br><br>

<!-- display data in table -->
<table>
    <tr>
        <th>Country Code</th>
        <th>Country Name</th>
        <th>Country Details</th>
        <th colspan="2">Action</th>        
    </tr>
<% for(var i = 0; i < country.length; i++) { %>
    <tr>
        <td><%= country[i].co_code %></td>
        <td><%= country[i].co_name %></td>
        <td><%= country[i].co_details %></td>
        <td><a href="/update/<%= country[i].country %>">Update</a></td>
        <td><a href="/delete/<%= country[i].co_code %>">Delete</a></td>
    </tr>
<%} %>
</table><br>

<!-- back to home page link -->
<a href="/">Home</a>



